@media (max-width: 935px) {
  .conteudo-principal-clientes-vendas-header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .conteudo-principal-clientes-vendas-header-titulo {
    order: 2;
  }

  .conteudo-principal-clientes-vendas-header-input-buscar {
    margin: 10px 0 30px 0;
  }

  .conteudo-principal-clientes-vendas-header-input-buscar input[type="text"] {
    width: 100%;
  }
  
  .conteudo-principal-box-lista {
    padding-bottom: 30px;
  }

  .conteudo-principal-box-lista-itens-lista thead {
    display: none;
  }

  .email-cliente,
  .telefone-cliente,
  .qtd-vendas,
  .data-faturamento,
  .valor-total,
  .coluna-btn-deletar-editar {
    display: none;
  }

  .linhas-tabela {
    display: grid;
    grid-template-areas: 
    "nome icone"
    "cpf icone";
    align-items: center;
    margin-bottom: 20px;
  }

  .nome-cliente {
    padding: 20px !important;
    padding-bottom: 5px !important;
    grid-area: nome;
  }

  .cpf-cliente,
  .data-venda {
    padding: 20px !important;
    padding-top: 0 !important;
    color: var(--cor-btn);
    grid-area: cpf;
  }
  
  .icone-detalhes-clientes,
  .icone-detalhes-vendas {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px !important;
    grid-area: icone;
    height: 100%;
    border-radius: 0 5px 5px 0;
  }

  .icone-detalhes-vendas {
    align-items: flex-start;
  }

  .icone-detalhes-clientes button,
  .icone-detalhes-vendas button {
    background: transparent;
  }

  .coluna-btn-deletar-editar,
  .coluna-cliente-inativo {
    display: none !important;
  }

}

@media (max-width: 880px) {
  .pagina-inicial-lado-direito {
    height: 70vh;
  }

  .pagina-inicial-lado-esquerdo {
    height: 30vh;
  }
}

@media (max-width: 610px) {
  .pagina-inicial-lado-esquerdo-logo-lyncas img {
    width: 150px;
    height: 40px;
  }
  .pagina-inicial-lado-esquerdo-descricao-lyncas p {
    font-size: 1.7rem;
    color: var(--cor-texto-links);
  }

  .pagina-inicial-lado-direito {
    height: 70vh;
  }

  .pagina-inicial-lado-esquerdo {
    height: 30vh;
  }

  .form-login {
    margin-bottom: 120px;
  }

  .pagina-inicial-lado-direito h1 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 3.3rem;
  }

  .pagina-inicial-lado-direito label {
    width: 310px;
  }

  .box-form-btn-entrar {
    width: 310px;
  }

  .header-telas-com-menu,
  .header-telas-sem-menu {
    margin: 0 35px;
    padding: 25px 0;
    height: 100px;
  }

  .info-usuario-btn-sair span {
    display: block;
  }
  
  .info-usuario-btn-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-voltar-header {
    display: none;
  }

  .btn-adicionar-header {
    display: none;
  }

  .btn-sair {
    display: none;
  }
  
  .btn-sair-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }
  
  .menu-lateral {
    grid-template-areas: "links";
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 76px;
    float: none;
    position: fixed;
    bottom: 0;
    z-index: 2;
  }

  .menu-lateral-links {
    flex-direction: row;
  }

  .menu-lateral-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #ffffffa8;
    border: none;
    width: 95px;
  }

  .menu-lateral-links a:focus{
    background: transparent;
    color: var(--cor-texto-links);
  }

  .menu-lateral-links img {
    margin-right: 0;
  }

  .menu-lateral-logo-lyncas {
    display: none;
  }

  .conteudo-principal {
    height: 100%;
    margin-bottom: 100px;
  }

  .conteudo-principal-clientes-vendas-header-titulo {
    justify-content: space-between;
  }
  
  .btn-mobile-adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: var(--cor-texto-links);
    background: var(--cor-background-btn-adicionar);
  }

  .conteudo-principal-telaAddClientes-telaAddVendas-box-form,
  .conteudo-principal-telaEditarClientes-box-form,
  .conteudo-principal-telaEditarVenda-box-form {
    padding-bottom: 25px;
  }

  .conteudo-principal-telaAddUsuario {
    padding-bottom: 25px;
  }

  .form-add-cliente-venda {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .form-add-usuario {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .box-form-conjunto-input {
    flex-direction: column;
  }

  .conjunto-input label:nth-of-type(1) input, 
  .conjunto-input label:nth-of-type(1) input,
  .conjunto-input label:nth-of-type(1) select {
    margin-right: 0px;
  }

  .form-add-cliente-venda h2 {
    display: none;
  }

  .box-form-btn-salvar,
  .box-form-btn-salvar-usuario {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .box-form-btn-salvar button,
  .box-form-btn-salvar-usuario button {
    width: 100%;
    height: max-content;
  }

  .mensagem-input-invalido {
    display: block;
    font-size: 1.3rem;
    color: var(--cor-bordas-input-invalido);
  }

  .btn-mais-itens button {
    width: 100%;
  }

  .box-btn-salvar-venda {
    flex-direction: column;
    align-items: flex-start;
  }

  .saida-total-vendas {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .saida-total-vendas span {
    color: var(--cor-bordas-input-valido);
  }

  .cifrao {
    color: var(--cor-texto) !important;
  }
}